@import "../utils/base";

.about-title-block {
	-webkit-box-shadow: 0 2px 8px 0 rgba(157, 157, 157, 0.5);
	-moz-box-shadow: 0 2px 8px 0 rgba(157, 157, 157, 0.5);
	box-shadow: 0 2px 8px 0 rgba(157, 157, 157, 0.5);

	.container {
		padding-bottom: 30px;
		padding-left: 0px;
		padding-right: 0px;

		@include breakpoint(sm) {
			padding-bottom: 95px;
			padding-left: 50px;
			padding-right: 50px;
		}

		@include breakpoint(xlg) {
			padding-left: 65px;
			padding-right: 65px;
		}
	}
}

.about-quote-block {
	padding: 40px 0;
	text-align: center;
	li {
		margin-bottom: 10px;
		position: relative;
		padding-left: 20px;
		h1 {
			@include breakpoint(sm) {
				font-size: 25px;
			}
			@include breakpoint(md) {
				font-size: 32px;
			}
			@include breakpoint(lg) {
				font-size: 40px;
			}
			@include breakpoint(xlg) {
				font-size: 48px;
			}
		}

		@include breakpoint(lg) {
			margin-bottom: 15px;
		}

		@include breakpoint(xlg) {
			margin-bottom: 25px;
		}
	}
	@include breakpoint(sm) {
		padding: 160px 0;
	}
}

.person-list {
	@include breakpoint(sm) {
		display: flex;
		flex-wrap: wrap;
	}

	.col-sm-4 {
		@include breakpoint(sm) {
			width: 33%;
		}
	}
}

.person-block {
	margin-bottom: 50px;
	display: flex;
	.person-block__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		> div:first-of-type {
			flex: 1 0 auto;
		}
		.person-block__description {
			height: 72px;
		}
		&.btn {
			.person-block__see {
				display: flex;
				justify-content: center;
				align-items: center;
				text-transform: none;
				transition: all .5s;
				transform: translateZ(0) !important;
				-webkit-transform: translateZ(0) !important;

				&:hover {
					@include box-shadow-hover()
				}
			}
			@include breakpoint(sm) {
				padding-bottom: 70px;
				padding-top: 0;
				padding-left: 0;
				padding-right: 0;
			}
			@include breakpoint(md) {
				padding-bottom: 70px;
			}
		}
	}

	@include breakpoint(sm) {
		margin-bottom: 65px;
		padding-left: 6px;
		padding-right: 6px;
	}

	@include breakpoint(md) {
		margin-bottom: 75px;
		padding-left: 8px;
		padding-right: 8px;
	}

	@include breakpoint(lg) {
		margin-bottom: 90px;
		padding-left: 15px;
		padding-right: 15px;
	}

	&__image-container {
		position: relative;
	}

	&__quote {
		align-items: center;
		background-color: $blue-opaque;
		color: white;
		display: flex;
		font: 21px $font__secondary;
		line-height: 32px;
		height: 100%;
		text-align: center;
		padding: 60px 40px;
		position: absolute;
		width: 100%;

		h1 {
			@include breakpoint(sm) {
				font-size: 22px;
			}
			@include breakpoint(lg) {
				font-size: 40px;
			}
			@include breakpoint(xlg) {
				font-size: 48px;
			}
		}

		@include opacity-change();

		@include breakpoint(md) {
			font-size: 32px;
			line-height: normal;
		}

		@include breakpoint(lg) {
			font-size: 40px;
		}

		@include breakpoint(lg) {
			font-size: 48px;
		}

		&:hover {
			opacity: 1;
		}
	}

	p {
		margin-top: 5px;
	}

	h5 {
		margin-top: 20px;

		@include breakpoint(xlg) {
			margin-top: 30px;
		}
	}

	&__see {
		color: $grey;
		cursor: initial;
		-webkit-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
		-moz-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
		box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
		height: 100%;
		padding: 30px;
		text-align: center;
		a {
			font-family: $font__secondary;
			@include a-no-style();
			font-size: 22px;

			@include breakpoint(md) {
				font-size: 32px;
			}

			@include breakpoint(lg) {
				font-size: 40px;
			}

			@include breakpoint(xlg) {
				font-size: 48px;
			}
		}

		&-filler {
			height: 44px;
		}
	}
}

.about-people-header {
	margin-bottom: 20px;
	margin-top: 110px;

	@include breakpoint(sm) {
		margin-top: 150px;
	}
}