@import "../utils/base";

.blog-item-block {
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
	-moz-box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
	box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
	margin-bottom: 30px;

	@include breakpoint(sm) {
		flex-direction: row;
		margin-bottom: 60px;
	}

	@include a-no-style();

	&__description {
		padding: 25px 30px;
		order: 1;

		@include breakpoint(sm) {
			flex: 2;
			order: 2;
			padding: 25px 40px;
		}
	}

	&__img-container {
		align-items: center;
		display: flex;
		min-width: 220px;
		overflow: hidden;
		order: 2;
		justify-content: center;

		@include breakpoint(sm) {
			flex: 1;
			height: 300px;
			order: 1;
		}

		@include breakpoint(md) {
			flex: 1;
			height: 400px;
			order: 1;
		}

		@include breakpoint(lg) {
			height: 500px;
		}

		@include breakpoint(xlg) {
			height: 550px;
		}
	}

	img {
		@include breakpoint(sm) {
			max-width: unset;
			height: 100%;
		}
	}

	p {
		margin-bottom: 15px;

		@include breakpoint(md) {
			margin-bottom: 20px;
		}

		@include breakpoint(lg) {
			margin-bottom: 30px;
		}

		@include breakpoint(xlg) {
			margin-bottom: 60px;
		}
	}

	h1 {
		margin-bottom: 15px;

		@include breakpoint(md) {
			margin-bottom: 25px;
		}

		@include breakpoint(lg) {
			margin-bottom: 30px;
		}
	}

	.author {
		font-weight: bold;
		margin: 0;
	}
}

.landing-img {
	background-repeat: no-repeat;
	margin-top: 80px;
	margin-bottom: 40px;
	height: 258px;
	background-position: 50% 50%;
	background-size: cover;
	@include breakpoint(sm) {
		height: 334px;
		margin-bottom: 70px;
	}
	@include breakpoint(md) {
		height: 458px;
	}
	@include breakpoint(lg) {
		height: 610px;
		margin-bottom: 80px;
	}
	@include breakpoint(xlg) {
		height: 120px;
	}
}

.blog-description {

	&__date {
		margin-bottom: 15px;
		@include breakpoint(md) {
			display: none;
		}
	}

	h1 {
		margin-bottom: 15px;

		@include breakpoint(md) {
			margin-bottom: 20px;
		}
	}

	p {
		margin-bottom: 20px;
	}

	img {
		margin-top: 20px;
		margin-bottom: 50px;

		@include breakpoint(sm) {
			margin-bottom: 60px;
		}

		@include breakpoint(md) {
			margin-top: 25px;
		}

		@include breakpoint(lg) {
			margin-bottom: 70px;
		}

		@include breakpoint(xlg) {
			margin-bottom: 90px;
		}
	}
}

.blog-social-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 25px 0 55px 0;

	@include breakpoint(sm) {
		text-align: left;
		flex-direction: row;
		align-items: flex-start;
	}

	@include breakpoint(md) {
		margin: 40px 0;
	}

	@include breakpoint(lg) {
		margin: 50px 0;
	}

	@include breakpoint(lg) {
		margin: 60px 0 45px 0;
	}

	&__share {
		margin-bottom: 50px;

		@include breakpoint(sm){
			flex:1;
		}

		svg {
			width: 27px;
			height: 27px;
			margin-right: 10px;

			@include breakpoint(lg){
				width: 34px;
				height: 34px;
			}

			@include breakpoint(xlg){
				width: 50px;
				height: 50px;
			}

			path{
				transition: all .4s ease-in;
			}

			&:hover path {
				fill: $grey;
			}
		}
	}

	&__email{
		@include breakpoint(sm){
			flex:1;
		}
	}

	form {
		width: 200px;

		@include breakpoint(lg) {
			width: 250px;
		}

		@include breakpoint(xlg) {
			width: 330px;
		}
	}

	h5{
		margin-bottom: 20px;
	}

	input[type="email"]{
		margin-top: 20px;
	}

	input[type="text"]{
		margin-top: 0px;
	}
}

.blog-side-bar {
	@include breakpoint(lg) {
		font-size: 18px;
	}

	&__container {
		@include breakpoint(lg) {
			width: 175px;
			float: right;
		}

		@include breakpoint(xlg) {
			width: 240px;
		}
	}

	&__avatar {
		display: table;
		overflow: hidden;
		border: 1px solid $light-grey;
		border-radius: 50px;
		margin-bottom: 10px;

		@include breakpoint(lg) {
			margin-bottom: 15px;
		}

		@include breakpoint(xlg) {
			margin-bottom: 25px;
		}

		img {
			width: 80px;
			height: 80px;

			@include breakpoint(lg) {
				width: 60px;
				height: 60px;
			}

			@include breakpoint(xlg) {
				width: 100px;
				height: 100px;
			}
		}
	}

	p {
		@include breakpoint(lg) {
			font-size: 18px;
		}
	}
}

.grey-divider {
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: $light-grey;
}

.related-articles {
	&__card {
		-webkit-box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
		-moz-box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
		box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
		margin-bottom: 40px;

		@include breakpoint(sm) {
			margin-bottom: 80px;
		}

		@include breakpoint(xlg) {
			margin-bottom: 160px;
		}
	}

	&__image-container {
		height: 180px;
		overflow: hidden;

		@include breakpoint(sm) {
			height: 160px;
		}

		@include breakpoint(md) {
			height: 220px;
		}

		@include breakpoint(lg) {
			height: 300px;
		}

		@include breakpoint(xlg) {
			height: 400px;
		}
	}

	&__description {
		padding: 15px 20px;

		@include breakpoint(xlg) {
			padding-bottom: 40px;
		}

		img {
			float: left;
			border-radius: 40px;
			height: 30px;
			margin-right: 10px;
			width: 30px;

			@include breakpoint(xlg) {
				height: 40px;
				width: 40px;
			}
		}
	}

	&__author {
		p {
			font-size: 11px;

			@include breakpoint(lg) {
				margin-bottom: 20px;
			}

			@include breakpoint(xlg) {
				margin-bottom: 25px;
				font-size: 16px;
			}
		}
	}

	&__short-description {
		overflow: hidden;
		height: 40px;
	}

	h5 {
		@include breakpoint(md) {
			margin-bottom: 5px;
		}
	}

	h1 {
		margin-top: 50px;
		margin-bottom: 40px;

		@include breakpoint(sm) {
			margin-top: 80px;
			margin-bottom: 70px;
		}

		@include breakpoint(md) {
			margin-top: 40px;
		}

		@include breakpoint(lg) {
			margin-top: 70px;
			margin-bottom: 70px;
		}
		@include breakpoint(xlg) {
			margin-top: 90px;
			margin-bottom: 80px;
		}
	}
}