@import "../utils/base";

.contact-block {
	background-color: white;
	-webkit-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	-moz-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	margin-bottom: 50px;
	padding: 20px 20px 30px 20px;

	@include breakpoint(sm) {
		-webkit-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		-moz-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		padding: 35px;
		margin-bottom: 90px;
	}

	@include breakpoint(sm) {
		padding: 50px;
	}

	@include breakpoint(lg) {
		margin-bottom: 120px;
	}

	&--info {
		margin-top: 120px;
		padding-left: 20px;
		padding-right: 0px;

		@include breakpoint(sm) {
			padding-right: 30px;
			padding-left: 30px;
		}

		@include breakpoint(lg) {
			padding-left: 48px;
			padding-right: 37px;
			max-width: 635px;
			margin-left: auto;
		}

		@include breakpoint(lg) {
			padding-left: 48px;
			padding-right: 37px;
			max-width: 605px;
			margin-left: 0px;
		}

		p {
			margin: 0;
		}
	}

	&.contact-footer-block{


		textarea{
			height: 132px;
			border-width: 1px;
		}

		@include breakpoint(xsm-only){
			padding: 0px;
		}

	}

	&__description {
		@include breakpoint(lg) {
			width: 380px;
		}
	}

	&--form {
		h1 {
			margin-bottom: 20px;
		}
	}

	&__icons {
		margin-top: 40px;
		@include breakpoint(md) {
			float: right;
		}

		&-row {
			@include breakpoint(md) {
				display: flex;
				align-items: flex-end;
			}
		}

		svg {
			width: 27px;
			height: 27px;
			margin-right: 10px;

			@include breakpoint(lg) {
				width: 34px;
				height: 34px;
				margin-right: 15px;
			}

			&:hover {
				path {
					fill: $grey;
				}
			}

			path {
				transition: all .4s ease-in;
			}
		}

	}

	.wpcf7{
		padding-left: 0px;
		padding-right: 0px;
		.contact{
			p{
				display: block;
				@include breakpoint(md) {
					display: none;
				}
				@include breakpoint(lg) {
					display: block;
				}
			}
		}
		.col-md-9{
			.hidden-xs{
				position: relative;
			}
		}
	}

	h1 {
		margin-bottom: 0px;
		letter-spacing: 1.25px;
		@include breakpoint(md) {
			line-height: 40px;
			font-size: 32px;
			padding-bottom: 15px;
		}
		@include breakpoint(lg) {
			line-height: 50px;
			font-size: 40px;
			padding-bottom: 20px;
		}
		@include breakpoint(xlg) {
			line-height: 50px;
			font-size: 40px;
			padding-bottom: 30px;
		}

		br{
			@include breakpoint(sm-md){
				display: none;
			}
		}
	}

	h5 {
		font-size: 15px;
		margin-top: 40px;
		margin-bottom: 10px;

		@include breakpoint(sm) {
			margin-top: 30px;
		}
	}

	.col-md-12:first-child{ 
		p {
			// padding-left: 20px;
			// padding-right: 20px;
			@include breakpoint(md) {
				font-size: 14px;
				max-width: 463px;
				padding-left: 0px;
				padding-right: 0px;
			}
			@include breakpoint(xlg) {
				font-size: 16px;
				max-width: 505px;
			}
		}
	}
	.upload-btn-wrapper {
		position: relative;
		overflow: hidden;
		display: inline-block;
	}

	.btn {
		font-weight: bold;
	}

	.upload-btn-wrapper input[type=file] {
		font-size: 100px;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}
	.contact{
		visibility: visible;

		@include breakpoint(sm) {
			visibility: hidden;
		}
	}
}

.nav-tabs {
	border: none;
	border-radius: 0;
	font-size: 16px;
	font-weight: 500;
	margin-top: 45px;
	text-align: center;

	@include breakpoint(sm) {
		font-size: 18px;
	}

	@include breakpoint(lg) {
		margin-top: 80px;
	}

	li {
		width: 50%;

		@include breakpoint(sm) {
			width: 260px;
		}

		> a,
		> a:hover,
		> a:focus {
			color: $grey;
			border: none;
			border-radius: 0;
			margin: 0;
		}
	}
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: $grey;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0 12px 22px 0 rgba(161, 161, 161, 0.5);
	-moz-box-shadow: 0 12px 22px 0 rgba(161, 161, 161, 0.5);
	box-shadow: 0 12px 22px 0 rgba(161, 161, 161, 0.5);
	z-index: -1;
}

.tab-content {
	overflow-y: hidden;
	padding: 0 15px 15px 15px;
	margin: 0 -15px;
}

.contact-picture {
	min-height: 640px;
	min-width: 768px;
	max-width: unset;
	width: 100vw;

	@include breakpoint(md) {
		min-width: 1240px
	}
	@include breakpoint(lg) {
		min-height: 710px
	}

}

.contact-picture-container {
	overflow: hidden;
	position: relative;

	&__row {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
		margin: 0;
	}

}

.contact-form-col {
	margin-top: 120px;

	@include breakpoint(lg) {
		margin: 120px auto 0 auto;
		max-width: 1216px;
		float: none;
	}
}

.contact-info-col {
	@include breakpoint(lg) {
		max-width: 720px;
	}
}

.wpcf7{
	input[type="radio"]{
		width: 22px;
	    height: 22px;
	    vertical-align: middle;
	    margin-top: -4px;
	}
}

textarea{
	border-width: 1px;
}

.wpcf7-list-item{
	@include breakpoint(md-only) {
		margin-bottom: 10px !important;
	}
}