@import "../utils/base";

.home-title {
	/*margin-top: 125px;*/
        height: 100vh;display: flex; align-items: flex-start;flex-direction: column;justify-content: center;
	@include breakpoint(sm) {
		/*margin-top: 45vh;*/
	}

	.i {
		@include breakpoint(xlg) {
			height: 38px;
			width: 38px;
		}
	}
}

.homepage-section-header {
	margin-top: 60px;
	margin-bottom: 60px;
	max-width: none;

	@include breakpoint(md) {
		margin-top: 85px;
		margin-bottom: 85px;
	}

	@include breakpoint(lg) {
		margin-top: 120px;
		margin-bottom: 120px;
	}
}

.home-title__arrow {
	color: white;
	margin-top: 40px;
	text-align: center;
	font-size: 30px;

	a {
		@include a-no-style()
	}

	@include breakpoint(xlg) {
		font-size: 40px;
	}
}

/* Bounce animation  */

@-webkit-keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(0px);
	}
}

@-moz-keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(0px);
	}
}

.bounce {
	-webkit-animation: bounce 1.5s infinite;
	-moz-animation: bounce 1.5s infinite;
	animation: bounce 1.5s infinite;
}

/* Fade in and Right animation  */

@-webkit-keyframes fadeInAndRight {
	0% {
		opacity: 0;
		transform: translateX(-15px);
	}
	30% {
		opacity: 0;
		transform: translateX(-7px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@-moz-keyframes fadeInAndRight {
	0% {
		opacity: 0;
		transform: translateX(-15px);
	}
	30% {
		opacity: 0;
		transform: translateX(-7px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadeInAndRight {
	0% {
		opacity: 0;
		transform: translateX(-15px);
	}
	30% {
		opacity: 0;
		transform: translateX(-7px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.fade-in-and-right {
	opacity: 0; /* make things invisible upon start */
	-webkit-animation: fadeInAndRight 0.75s 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeInAndRight 0.75s 1;
	animation: fadeInAndRight 0.75s 1;

	-webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.fade-in-and-right.ms300 {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.fade-in-and-right.ms350 {
	-webkit-animation-delay: 0.35s;
	-moz-animation-delay: 0.35s;
	animation-delay: 0.35s;
}

.fade-in-and-right.ms400 {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

/* Fade in only animation */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0; /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.fade-in.ms600 {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.desktop-slider {
	font-size: 14px;
	letter-spacing: -0.3px;
	position: relative;

	a {
		font-weight: 500;
		text-transform: uppercase;
		&:hover {
			.line-horizontal {
				width: 70px;
			}
		}
	}

	.line-horizontal {
		position: relative;
		bottom: 4px;
		-webkit-transition: width 0.8s;
		-moz-transition: width 0.8s;
		transition: width 0.8s;
	}

	&__slide {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 100vh;
		flex-direction: column;
		@include breakpoint(md) {
			flex-direction: row;
		}

		@include breakpoint(md-only) {
			margin-right: -65px;
			margin-left: -65px;
		}

		&:before {
			content: " ";
			margin-top: auto;
			@include breakpoint(md){
				height: 185px;
			}
		}

		&.active {
			.desktop-slider {
				&__image-container {
					opacity: 1;
				}
				&__logo-img {
					opacity: 1;
				}
				&__description {
					opacity: 1;

					p {
						opacity: 0;
					}
					a {
						opacity: 0;
					}
				}
			}
		}
	}

	&__phone-mock {
		position: absolute;
		height: 300vh;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		min-height: 1500px;
		z-index: 2;
		@include opacity-change();

		&.active {
			opacity: 1;
		}

		[class*="col-"] {
			height: 100vh;
			position: sticky;
			position: -webkit-sticky;
			top: 0;
		}

		img {
			position: relative;
			max-width: 262px;
			left: 50%;
			transform: translate(-50%, -50%);
			top: calc((100vh - 602px)/2 + 220px);

			@include breakpoint(md) {
				top: calc((100vh - 419px)/2 + 220px);
				left: 50%;
			}

			@include breakpoint(lg) {
				max-width: 281px;
			}

			@include breakpoint(xlg) {
				top: calc((100vh - 454px)/2 + 243px);
				left: 50%;
				max-width: 340px;
			}
		}
	}

	&__phone-asset {
		max-width: 235px;
		z-index: 1;
		//safari fix
		-webkit-transform: translate3d(0,0,0);

		@include breakpoint(lg) {
			max-width: 256px;
		}

		@include breakpoint(xlg) {
			max-width: 307px;
		}
	}

	&__hero-img {
		position: absolute;
		z-index: 0;

		@include breakpoint(md-only) {
			max-width: 100%;
			overflow-x: hidden;
		}
	}

	&__image-container {
		align-items: center;
		display: flex;
		justify-content: center;
		@include opacity-change();

		@include breakpoint(md) {
			margin-top: 0;
			order: 1;
		}
	}

	&__logo-img {
		// margin-bottom: 24px;
		width: 90%;
		@include opacity-change();
	}

	&__description {
		height: 185px;
		margin-bottom: auto;
		padding-top: 85px;
		text-align: center;
		z-index: 2;
		@include opacity-change();

		@include breakpoint(md-only) {
			width: 300px;
		}

		@include breakpoint(md) {
			align-items: center;
			height: 420px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding-right: 30px;
			margin-bottom: 0;
		}

		@include breakpoint(lg) {
			height: 455px;
		}

		@include breakpoint(xlg) {
			height: 550px;
		}

		p {
			@include breakpoint(md){
				margin-bottom: 20px;
			}
		}

		.btn{
			width: 155px;
		}
	}

	&__indicator {
		position: fixed;
		transform: translate(-50%, -50%);
		top: 51vh;
		right: 60px;

		@include breakpoint(lg) {
			// right: -60px;
		}

		i {
			display: block;
			margin-top: 10px;
		}
	}
}


.card-block {
	background-color: white;
	padding: 100px 15px 50px 15px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	-moz-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);

	@include breakpoint(sm) {
		-webkit-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		-moz-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		margin-top: 117px;
		margin-bottom: 143px;
		padding-left: 95px;
		padding-right: 95px;
	}

	h1 {
		margin-bottom: 25px;

		@include breakpoint(lg) {
			margin-bottom: 77px;
		}
	}

	&__card-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		//height: 410px;
		@include breakpoint(md) {
		    flex-flow: row wrap;
                    height: initial;
                    justify-content: center; 
		}
	}

	&__link {
		text-align: center;
	}

	.phone-icon {
		@include breakpoint(md) {
			/*height: 45px;*/
		}

		@include breakpoint(lg) {
			/*height: 60px;*/
		}

		@include breakpoint(xlg) {
			/*width: 43px;
			height: 90px;
			background-size: 43px 90px;*/
		}
	}
	.computers-icon {
		@include breakpoint(md) {
			/*height: 45px;
			width: 100px;*/
		}

		@include breakpoint(lg) {
			/*height: 60px;
			width: 130px;*/
		}

		@include breakpoint(xlg) {
			/*width: 180px;
			height: 85px;
			background-size: 180px 85px;*/
		}
	}

	.btn {
		margin-top: 35px;
	}

	.card{
		p{
			br{
				@include breakpoint(md-only){
					display: none;
				}
			}
		}
	}
}

.awards-block {
	padding-bottom: 130px;
	text-align: center;

	&__logos {
		margin-bottom: 10px;
		@include breakpoint(md){
			max-width: 85%;
		}

		@include breakpoint(lg) {
			margin-bottom: 25px;
		}

		&--client {
			width: 115px;

			@include breakpoint(md) {
				margin-bottom: 25px;
				width: 150px;
			}
			@include breakpoint(xlg) {
				width: 200px;
			}
		}
	}

	[class*="col-"] {
		margin-top: 60px;

		@include breakpoint(sm) {
			margin-top: 50px;
		}

		@include breakpoint(lg) {
			margin-top: 70px;
		}

		@include breakpoint(xlg) {
			margin-top: 90px;
		}
	}

	//	todo remove and refactor
	.carousel-inner {
		height: 160px;
		@include breakpoint(xlg) {
			height: 190px;
		}
	}
}

.carousel {

	&-mobile-phone-block {
		margin: 0 0px 100px 0px;

		&__phone-mock-image {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			max-width: 162px;
			z-index: 2;
		}

		&__phone-image {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -53%);
			position: absolute;
			width: 150px;
			z-index: 1;
		}

		&__background-image {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			z-index: 0;
			min-height: 257px;
			max-width: unset !important;
			background-size: cover;
			width: 100%;
		}

		&__logo-image {
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0);
			position: absolute;
			max-height: 40px;
		}

		.carousel-control {
			background: none;
			height: 42px;
			top: unset;
			bottom: -10px;
		}

		.carousel-indicators {
			bottom: -60px;
		}

		.item {
			height: 500px;
		}

		.row {
			//for no shaking
			margin: 0;
		}
	}

	&-control {
		&__right {
			position: absolute;
			top: 35%;
			margin-top: -10px;
			z-index: 5;
			display: inline-block;
			right: 50%;
			margin-right: -10px;

			@include breakpoint(md){
				top:40%;
			}
		}

		&__left {
			position: absolute;
			top: 35%;
			margin-top: -10px;
			z-index: 5;
			display: inline-block;
			left: 50%;
			margin-left: -10px;

			@include breakpoint(md){
				top:40%;
			}
		}
	}

	&-people {
		.row {
			margin: 0;
		}

		.carousel-control {
			color: inherit;
			background: none;
			padding: 0 20px;
			width: 50px;

			&.right {
				@include breakpoint(sm) {
					right: -45px;
				}
			}

			&.left {
				@include breakpoint(sm) {
					left: -45px;
				}
			}
		}
	}

	&-quotes {
		.carousel-caption {
			color: $blue;
			font-weight: 500;
			padding-bottom: 0;
			padding-top: 25px;
			position: static;
			text-transform: uppercase;
		}

		.carousel-indicators {
			bottom: -40px;

			@include breakpoint(xlg) {
				bottom: -15px;
			}
		}
	}

	&-fade {
		.carousel-inner {
			.item {
				transition-property: opacity;
			}

			.item,
			.active.left,
			.active.right {
				opacity: 0;
			}

			.active,
			.next.left,
			.prev.right {
				opacity: 1;
			}

			.next,
			.prev,
			.active.left,
			.active.right {
				left: 0;
				transform: translate3d(0, 0, 0);
			}
		}

		.carousel-control {
			z-index: 2;
		}
	}

	&-about-lifestyle {
		margin-top: 50px;
		margin-bottom: 80px;

		@include breakpoint(sm) {
			margin-top: 80px;
			margin-bottom: 120px;
		}

		@include breakpoint(xlg) {
			margin-top: 80px;
			margin-bottom: 150px;
		}

		.carousel-indicators {
			bottom: -45px;
		}

		.item{
			&.active,
			&.next,
			&.prev
			{
				height: 210px;
				display: flex;
				align-items: center;

				@include breakpoint(sm){
					height: 350px;
				}
				@include breakpoint(md){
					height: 495px;
				}
				@include breakpoint(lg){
					height: 670px;
				}
				@include breakpoint(xlg){
					height: 880px;
				}
			}
		}
	}
}

.second-to-last-logo{
	clear: both;

	@include breakpoint(lg){
		clear: none;
	}
}

.never-outsourced{
	font-size: 28px;
	@include breakpoint(sm) {
		font-size: 38px;
	}
	@include breakpoint(lg) {
		font-size: 50px;
	}

	@include breakpoint(xlg) {
		font-size: 58px;
	}
}


.pum-container{
	border: none !important;
	border-radius: 0px !important;
	top: 50% !important;
	transform: translate(0,-50%) !important;

	width: unset !important;
	@include breakpoint(sm){
		width: 668px !important;
	}

	@include breakpoint(xlg){
		width: 970px !important;
	}
}
.desktop-slider__device-container {
    position: relative;
    margin: 0 auto;
    width: auto;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;}
 
.desktop-slider .web-app-image {
	    /*height: 90%;*/
	    width: auto;
	    z-index: 1;
}

.expert-block {position: relative;padding-bottom: 130px;}
.expert-block .homepage-section-header{text-align: center !important;}

.expertslide h3{font-family: 'Muli';color: #4a4a4a;margin-bottom: 15px;}
.expertslide h5{font-family: 'Muli';color: #4a4a4a;}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{opacity: 0;}
.swiper-button-next, .swiper-button-prev{top: 54%;height: 79px;width: 22px;background-size: contain;margin-top: -40px;}

.swiper-button-next:focus, .swiper-button-prev:focus{outline: none;}
.swiper-button-next{background-image: url(../assets/rightarrow.svg);}
.swiper-button-prev{background-image: url(../assets/leftarrow.svg);}




@media(min-width: 768px){
	.home-title h1{letter-spacing: 1.2px;}
	.home-title__arrow{margin-top: 110px;}	
	.desktop-slider__description .btn {width: 206px;}
	.desktop-slider__description img{margin-bottom: 30px;}
	.card-block {padding-left: 83px; padding-right: 83px; }
	.expertslide img{margin-bottom: 10px;}
	span.wpcf7-list-item{width: 100%;}
	.card p {margin-bottom: 25px; }
	.card h5 {margin-bottom: 15px; }


}

@media(min-width: 1024px){
	.card--home{width: 49%;}
	.card--home:nth-child(2n){margin-right: 0px;}
	.card-block {padding-left: 78px; padding-right: 78px; }
	.phone-icon{height: 55px;width: 86px;}
	.computers-icon{height: 58px;width: 81px;}
	.cloud-icon{height: 69px;width: 100px;}
	.ar-icon{height: 68px;width: 54px;}
	.iot-icon{height: 59px;width: 60px;}
	.dtech-icon{height: 56px;width: 57px;}
	.gig-icon{height: 44px;width: 76px;}

	.card--home{min-height: 183px;max-height: 183px;padding: 35px 30px 40px 29px;}
	.card h5{font-size: 18px;margin-bottom: 25px;}
	// .card:first-child{padding-left: 40px;padding-top: 30px;}
	// .card:first-child h5{margin-bottom: 5px;}
	.card p{font-size: 14px;margin-bottom: 5px;}
	.card--home a{font-size: 10px;display: inline-block;}

	.expertslide h3{font-size: 21px;margin-bottom: 15px;}
	.expertslide h5{font-size: 14px;}
	.expertslide img{margin-bottom: 20px;}

	.swiper-button-next, .swiper-button-prev{top: 54%;height: 69px;width: 18px;background-size: contain;margin-top: -34px;}
	.swiper-button-next{right: 24px;}
	.swiper-button-prev{left: 24px;}

	.contact-footer-block .hidden-xs h1{padding-bottom: 15px;}

	.desktop-slider__description{align-items: flex-start;}
	.desktop-slider__description p{text-align: left;}
	.desktop-slider__description .btn{width: 100%;}

	.radio-buttons{margin-bottom: 50px;margin-top: 30px;}
	.home-title__arrow{margin-top: 40px;}
	span.wpcf7-list-item{width: auto;}
	.contact-footer-block .contact{margin-top: 110px;}
	.contact-footer-block textarea{min-height: 132px !important;max-height: 132px;}
}

@media(min-width: 1366px){
	.card h5{font-size: 24px;margin-bottom: 15px;}
	.card p{font-size: 18px;}
	.card--home a{font-size: 14px;display: inline-block;margin-right: 30px;}

	.card-block {padding-left: 95px; padding-right: 95px; }
	.card--home{min-height: 172px;max-height: 172px;}
	.card h5{font-size: 18px;}
	.card p{font-size: 14px;}

	.expertslide h3{font-size: 24px;}
	.expertslide h5{font-size: 18px;}
	.expertslide img{margin-bottom: 30px;}

	
	.swiper-button-next{right: 13px;}
	.swiper-button-prev{left: 13px;}

	.phone-icon{height: 80px;}

	.desktop-slider__description{align-items: center;}
	.desktop-slider__description p{text-align: center;}
	.desktop-slider__description .btn{width: 155px;}

	.contact-footer-block .contact{margin-top: 80px;}
}



@media(max-width: 768px){
	.contact-footer-block{padding-bottom: 150px !important;}
	.contact-footer-block textarea{margin-bottom: 35px;}
	.contact-footer-block .row.xs-flex{display: flex;flex-direction: column-reverse;}
	.contact-footer-block .row.xs-flex .contact{position: absolute;bottom: -130px;}
}

@media(max-width: 767px){
	
	.contact-footer-block textarea{min-height: 168px !important;max-height: 172px;}
	footer .homepage-section-header{font-size: 18px;}
	.contact-footer-block h1{font-size: 24px;}
	.contact-footer-block--margin-top{margin-top: 36px;}
	.contact-footer-block h1{padding-bottom: 20px;}
	.contact-footer-block h1,
	.contact-footer-block p{padding-left: 20px;padding-right: 20px;}
	.contact-footer-block .wpcf7{padding: 20px;}
	span.wpcf7-list-item{width: 100%;}
	.radio-buttons{text-align: left;}
	.contact-footer-block textarea{margin-bottom: 0px;}
	p.btn-submit{padding: 0px;}
	input[type="submit"] {margin-top: 20px; position: static; right: unset; transform: unset; }
	.contact-footer-block{padding-bottom: 200px !important;}
	.contact-footer-block .row.xs-flex .contact{bottom: -180px;text-align: center;left: 0;right: 0;}

	.carousel-inner>.item>img.carousel-mobile-phone-block__phone-mock-image{max-width: 162px;}
	.web-app-image{left: 50%; top: 50%; transform: translate(-50%, -50%); position: absolute; z-index: 0; max-height: 290px;} 
	.card-block h1{font-size: 24px;padding-left: 25px;padding-right: 25px;}
}


.contact-footer-block{
	.row{
		.xs-flex{
			.contact{
				@include breakpoint(md){
					position: absolute;
					bottom: 0;
				}
				@include breakpoint(lg){
					position: absolute;
					bottom: 40px;
				}
				@include breakpoint(xlg){
					position: absolute;
					bottom: 0;
				}
			}
			.col-md-9{
				margin-left: 0;
				
				@include breakpoint(md){
					margin-left: 25%;
				}
				@include breakpoint(lg){
					margin-left: 50%;
				}
			}
		}
	}
}
