@import "../utils/base";

.infographic{
	margin-bottom: 40px;
	@include breakpoint(sm){
		margin-bottom: 70px;
	}

	@include breakpoint(lg){
		margin-bottom: 80px;
	}

	@include breakpoint(xlg){
		margin-bottom: 115px;
	}
}