@import "../utils/base";
body{overflow-x: hidden;}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: $light-grey;
	text-decoration: none;
	&:hover {
		color: $grey;
		text-decoration: none;
	}
}
