@import "../utils/base";

.ppc-block{
	background-color: white;
	-webkit-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	-moz-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	margin-bottom: 50px;
	margin-top: 120px;
	padding: 20px 20px 30px 20px;

	@include breakpoint(sm) {
		-webkit-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		-moz-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		padding: 50px;
		margin-bottom: 90px;
		margin-top: 120px;
	}

	ul{
		list-style: unset;
		margin: 20px 0 20px 35px;

		@include breakpoint(md){
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}

	li {
		color: $blue;
		margin-bottom: 20px;
		@include breakpoint(md){
			margin-bottom: 25px;
		}
	}

	h1{
		color: $swensonhe-blue;
		margin-bottom: 20px;
	}
}

.ppc-picture-container {
	overflow: hidden;
	position: relative;

	&__row {
		height: 100%;
		position: absolute;
		transform: translate(-50%, 0);
		left: 50%;
		margin: 0;
	}

}

.ppc-picture{
	height: 100%;
	max-width: unset;
}