@import "../utils/base";
main.services {
	background: white;
}
.card {
	background-color: white;
	-webkit-box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
	-moz-box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
	box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
	height: 100%;
	margin-top: 15px;
	position: relative;
	padding: 25px;

	@include breakpoint(md) {
		margin-top: 0;
	}

	@include breakpoint(md) {
		padding: 40px;
		&.web {
			padding: 24px;
			@include breakpoint(lg) {
				padding: 29px 40px;
			}
		}
	}

	h5 {
		margin-bottom: 15px;
		line-height: 1.56;
		@include breakpoint(sm) {
			margin-bottom: 15px;
		}
		@include breakpoint(lg) {
			/*margin-bottom: 45px;*/
			font-size: 18px;
		}
		@include breakpoint(xlg) {
			/*margin-bottom: 45px;*/
			font-size: 24px;
		}
	}

	p {
		margin-bottom: 5px;
		padding-right: 90px;

		@include breakpoint(sm-only){
			br{
				display: none;
			}
		}

		@include breakpoint(xlg) {
			font-size: 18px;
		}
	}
    a{
        margin-right: 15px;
        font-size: 10px;

        @include breakpoint(md) {
			margin-right: 15px;
		}
        @include breakpoint(lg) {
			margin-right: 30px;
		}
        
        img{
            margin-left: 8px;

            @include breakpoint(lg) {
				margin-left: 15px;
			}
        }
    }
	.icon-container {
        top: 50%;
        transform: translateY(-50%);
		right: 25px;
		position: absolute;

		@include breakpoint(sm) {
			right: 20px;
		}
		@include breakpoint(md) {
			right: 15px;
		}
		@include breakpoint(lg) {
			right: 25px;
		}
		@include breakpoint(xlg) {
			right: 40px;
		}
	}

	&--services {
		h5 {
			@include breakpoint(sm) {
				margin-bottom: 30px;
			}

			@include breakpoint(lg) {
				margin-bottom: 45px;
			}
		}
	}

	&--home {
		transition: all .5s;
		width: 100%;
		transform: translateZ(0) !important;
		-webkit-transform: translateZ(0) !important;


		@include breakpoint(md) {
			padding: 35px 30px 40px 29px;
            width: 48%;
            margin-bottom: 30px;
            margin-right: 2%;
            min-height: 184px;
            max-height: 184px;
		}
		@include breakpoint(lg) {
			padding: 35px 30px 40px 47px;
			width: 48%;
            margin-bottom: 30px;
            margin-right: 2%;
            min-height: 206px;
            max-height: 206px;
		}

		&:hover{
			@include box-shadow-hover();
		}

		.icon-container {
			/*bottom: 40px;*/
			@include breakpoint(md) {
				/*bottom: 60px;*/
			}
			@include breakpoint(lg) {
				/*bottom: 75px;*/
			}
		}

		a {
			color: #5294df;
		}
	}
}

.expertise-info {
	line-height: 24px;
	margin-bottom: 60px;

	@include breakpoint(md) {
		display:-webkit-flex;
	    display:-webkit-box;
	    display:-moz-flex;
	    display:-moz-box;
	    display:-ms-flexbox;
	    display:flex;
	    

		-webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	}

	@include breakpoint(lg) {
		margin-bottom: 90px;
	}

	&--last {
		margin-top: 80px;

		@include breakpoint(lg) {
			margin-top: 135px;
		}

		@include breakpoint(xlg) {
			margin-top: 170px;
		}
	}

	h5 {
		margin-bottom: 20px;
	}
}

.tech-logo {
	// display: none;
	// width: 30px;
	margin-right: 30px;

	@include breakpoint(md) {
		display: inline-block;
	}
	@include breakpoint(lg) {
		// width: 39px;
	}
	@include breakpoint(xlg) {
		margin-right: 60px;
	}
}

.container--challenges {
	.homepage-section-header {
		margin: 60px auto;
		max-width: 300px;
		@include breakpoint(sm) {
			max-width: 400px;
		}
		@include breakpoint(lg) {
			max-width: none;
		}
	}
	@include breakpoint(md) {
		padding-top: 25px;
	}
	@include breakpoint(lg) {
		padding-top: 60px;
	}
}

.challenge-block {
	margin-bottom: 15px;

	@include breakpoint(sm) {
		margin-bottom: 70px;
	}
	@include breakpoint(md) {
		display:-webkit-flex;
	    
	    display:-moz-flex;
	    display:-moz-box;
	    display:-ms-flexbox;
	    display:-webkit-box;
	    display:flex;
	    

		margin-bottom: 90px;
	}

	&--even {
		justify-content: flex-end;

		@include breakpoint(md) {
			padding-left: 65px;
		}

		@include breakpoint(lg) {
			padding-left: 75px;
		}

		@include breakpoint(xlg) {
			padding-left: 0;
		}
	}

	&--odd {
		@include breakpoint(md) {
			padding-right: 65px;
		}

		@include breakpoint(lg) {
			padding-right: 75px;
		}

		@include breakpoint(xlg) {
			padding-right: 0;
		}
	}

	&__info {
		
		display:-webkit-flex;
	    
	    display:-moz-flex;
	    display:-moz-box;
	    display:-ms-flexbox;
	    display:-webkit-box;
	    display:flex;
	    

	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;

		text-align: center;
		padding: 0px;

		height: 228px;
		box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);

		@include breakpoint(sm-only) {
			padding: 10px 15px;
		}

		@include breakpoint(sm) {
			height: 430px;
			box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
		}

		@include breakpoint(md) {
			height: 100%;
			margin-left: -15px;
		}

		&-col {
			@include breakpoint(md) {
				width: calc(50vw - 65px);
				max-width: 430px;
			}
		}

		.btn{
			text-transform: capitalize;
		}
	}

	&__image-container {
		-webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;

	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
		height: 100%;
		position: relative;

		.btn {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			height: 35px;
		}
	}

	&__image-col {

		@include breakpoint(md) {
			width: 50vw;
			flex-shrink: 0;
		}

		@include breakpoint(xlg) {
			width: 50%;
		}
	}

	&__image-overlay {
		background-color: black;
		display:-webkit-flex;
	    
	    display:-moz-flex;
	    display:-moz-box;
	    display:-ms-flexbox;
	    display:-webkit-box;
	    display:flex;
	    

		height: 100%;
		opacity: 0.2;
		position: absolute;
		width: 100%;
	}

	h5 {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 25px;
	}
}

.process-block {
	position: relative;

	.row{

		&.display-flex{

			display:-webkit-flex;
		    display:-moz-flex;
		    display:-moz-box;
		    display:-ms-flexbox;
		    display:-webkit-box;
		    display:flex;
		    
		    @include breakpoint(md-only){
	    		flex-wrap: wrap;
	    		-webkit-flex-wrap: wrap;
	    	}

			> [class*='col-']{
				display:-webkit-flex;
			    
			    display:-moz-flex;
			    display:-moz-box;
			    display:-ms-flexbox;
			    display:-webkit-box;
			    display:flex;
			    

    			flex-direction: column;
    			-webkit-flex-direction: column;
			}

		}

		border-left: 2px solid #1464aa;

		@include breakpoint(sm) {
		    border-top: 1px dashed black;

    		&:last-child{
				border-left: 2px solid #1464aa;

				&__image-container{
					padding: 38px 0 0 50px;
				}
			}



		}


		@include breakpoint(sm-only) {
			margin-right: 0px;
			margin-left: 0px;
		}

		@include breakpoint(md) {
		    border-left: none;
		    border-top: none;

		    &:last-child{
				border-left: none;

				&__image-container{
					padding: 50px 0 0 0;
				}

			}

		}

		&:last-child{

			.col-md-pull-6::before{
				content: '';
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    height: 100%;
			    width: 2px;
			    left: -2px;

			    @include breakpoint(md){
				    right: -2px;
				    left: auto;
				}

				background: rgba(255,255,255,0);
			    background: -moz-linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);
			    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);
			    background: -o-linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);
			    background: -ms-linear-gradient(bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);
			    background: linear-gradient(to bottom, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);
			}

		}



	}

	.col-xs-12{
		padding: 0;
	}

	.col-md-6:first-child:not(.col-md-push-6){

		

		@include breakpoint(md) {
			border-top: 1px dashed black;
		    border-right: 2px solid #1464aa;
		    padding-left: 0;
		    padding-right: 50px;

		    .process-block__circle-container{
				right: -7px;
				left: auto;
			}
		}

		
	}

	.col-md-6:first-child{
		@include breakpoint(sm-md){
			padding-left: 50px;
		}

		
	}

	&__circle-container{
		position: absolute;
	    top: -10px;
	    left: -7px;
	}

	.circle-blue {
	    display: inline-block;
	    width: 12px;
	    height: 12px;
	    border-radius: 12px;
	    background-color: #1464aa;
	}

	&__slide{
		border-top: 1px dashed black;
		padding-right: 0;

		@include breakpoint(sm){
			border-top: none;
		    // padding-left: 50px;
		    padding-right: 0;
		}

		@include breakpoint(sm-only){
			padding-left: 15px;
		}
	}

	h5{
		padding: 50px 0 40px;
	    font-size: 18px;
	    color: #1464aa;
	    @include breakpoint(sm){
	    	font-size: 24px;
	    }
	}

	.col-md-6:last-child:not(.col-md-pull-6){

		@include breakpoint(md){
			padding: 0 0 0 50px;
		}

	}

	&__image-container{
		padding: 38px 0px 48px 15px;
		@include breakpoint(sm){
			padding: 38px 0 50px 50px;
		}
		@include breakpoint(md){
			padding: 50px 0;
		}
	}

	.col-md-push-6{
		@include breakpoint(md){
			border-top: 1px dashed black;
		    padding-left: 50px;
		    padding-right: 0;
		    margin-bottom: 20px;
		}
	}

	&__single-icon-container{
		display: flex;
    	margin-top: 24px;
	}

	&__icon-container{
		width: 50px;
        height: 50px;

	    display:-webkit-flex;
	    
	    display:-moz-flex;
	    display:-moz-box;
	    display:-ms-flexbox;
	    display:-webkit-box;
	    display:flex;
	    

	    flex-shrink: 0;

	    i{
	    	width: 48px;
    		height: 48px;
	    }

	    @include breakpoint(md){
	    	margin-top: 0;
	    }
	}

	.process-bars{
        display: inline-block;
	    width: 50px;
	    height: 50px;
	    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…xlIGN4PSI2IiBjeT0iNiIgcj0iNiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) no-repeat;
	    background-size: contain;
	}

	&__icon-description-container{
		margin-left: 10px;
	}

	&__description-title{
		text-transform: uppercase;
    	display: inline-block;
    	margin: 0;
	}

	.col-md-6.col-md-pull-6{
		@include breakpoint(md){
	    	border-right: 2px solid #1464aa;
    		padding: 0 50px 0 0;
	    }
	}

	// h5 {
	// 	color: $blue;
	// }

	// &__description {
	// 	&-short {
	// 		font-weight: 600;
	// 		margin: 0 0 0 10px;

	// 		@include breakpoint(sm) {
	// 			text-transform: uppercase;
	// 		}
	// 	}

	// 	&-long {
	// 		margin-left: 50px;
	// 		margin-bottom: 0;

	// 		@include breakpoint(md) {
	// 			margin-left: 30px;
	// 		}
	// 	}
	// }

	// &__icon-container {
	// 	display: flex;
	// 	align-items: center;
	// 	margin-top: 20px;
	// 	@include breakpoint(md) {
	// 		margin-top: 0;
	// 	}

	// 	i {
	// 		@include breakpoint(sm) {
	// 			width: 40px;
	// 			height: 40px;
	// 		}
	// 	}
	// }

	// &--mobile {
	// 	overflow-y: hidden;

	// 	@include breakpoint(md) {
	// 		display: none;
	// 	}

	// 	.process-block {
	// 		&__slide {
	// 			border-width: 3px;
	// 			border-style: solid;
	// 			border-right-width: 0;
	// 			//border-left: 3px solid $blue;
	// 			margin-left: 6px;
	// 			padding-top: 40px;
	// 			padding-left: 20px;

	// 			@include breakpoint(sm) {
	// 				padding-left: 25px;
	// 			}

	// 			&--first {
	// 				padding-top: 60px;
	// 				-webkit-border-image: -webkit-linear-gradient(bottom, white, $blue 10%) 1 100%;
	// 				-moz-border-image: -moz-linear-gradient(bottom, white, $blue 10%) 1 100%;
	// 				-o-border-image: -o-linear-gradient(bottom, white, $blue 10%) 1 100%;
	// 				border-image: linear-gradient(to bottom, white, $blue 10%) 1 100%;

	// 			}

	// 			&--middle {
	// 				-webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, $blue, $blue) 1 100%;
	// 				-webkit-border-image: -webkit-linear-gradient(bottom, $blue, $blue) 1 100%;
	// 				-moz-border-image: -moz-linear-gradient(bottom, $blue, $blue) 1 100%;
	// 				-o-border-image: -o-linear-gradient(bottom, $blue, $blue) 1 100%;
	// 				border-image: linear-gradient(to top, $blue, $blue) 1 100%;
	// 			}

	// 			&--last {
	// 				-webkit-border-image: -webkit-linear-gradient(top, white, $blue 10%) 1 100%;
	// 				-moz-border-image: -moz-linear-gradient(top, white, $blue 10%) 1 100%;
	// 				-o-border-image: -o-linear-gradient(top, white, $blue 10%) 1 100%;
	// 				border-image: linear-gradient(to top, white, $blue 10%) 1 100%;
	// 				height: 268px;
	// 				@include breakpoint(sm) {
	// 					height: 428px;
	// 				}
	// 			}
	// 		}

	// 		&__circle-container {
	// 			position: relative;
	// 		}
	// 	}

	// 	.circle-blue {
	// 		position: absolute;
	// 		left: -27px;
	// 		z-index: -1;

	// 		@include breakpoint(sm) {
	// 			left: -32px;
	// 		}
	// 	}

	// 	h5 {
	// 		margin-bottom: 20px;

	// 		@include breakpoint(sm) {
	// 			margin-bottom: 25px;
	// 		}
	// 	}
	// }

	// &__sandwich-gradient {
	// 	position: absolute;
	// 	height: 200%;
	// 	width: 100%;
	// 	left: -5px;
	// 	transition: transform 0.4s;
	// 	will-change: transform;
	// 	background: -moz-linear-gradient(top,
	// 			rgba(255, 255, 255, 0.9) 0%,
	// 			rgba(255, 255, 255, 0.9) 40%,
	// 			rgba(255, 255, 255, 0) 45%,
	// 			rgba(255, 255, 255, 0) 55%,
	// 			rgba(255, 255, 255, 0.9) 60%,
	// 			rgba(255, 255, 255, 0.9) 100%); /* FF3.6-15 */
	// 	background: -webkit-linear-gradient(top,
	// 			rgba(255, 255, 255, 0.9) 0%,
	// 			rgba(255, 255, 255, 0.9) 40%,
	// 			rgba(255, 255, 255, 0) 45%,
	// 			rgba(255, 255, 255, 0) 55%,
	// 			rgba(255, 255, 255, 0.9) 60%,
	// 			rgba(255, 255, 255, 0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	// 	background: linear-gradient(to bottom,
	// 			rgba(255, 255, 255, 0.9) 0%,
	// 			rgba(255, 255, 255, 0.9) 40%,
	// 			rgba(255, 255, 255, 0) 45%,
	// 			rgba(255, 255, 255, 0) 55%,
	// 			rgba(255, 255, 255, 0.9) 60%,
	// 			rgba(255, 255, 255, 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	// 	&.first {
	// 		transform: translateY(-40%);
	// 		height: 200%;
	// 	}

	// 	&.middle {
	// 		transform: translateY(-26%);
	// 		height: 200%;
	// 	}

	// 	&.last {
	// 		transform: translateY(-7%) scale(1, 1.5);

	// 		@include breakpoint(sm) {
	// 			transform: translateY(-7%) scale(1, 2);
	// 		}
	// 	}
	// }
	// &--desktop {
	// 	display: none;
	// 	border-bottom: 3px solid #e4e4e4;
	// 	align-items: flex-end;
	// 	justify-content: space-between;
	// 	position: relative;
	// 	margin: 0 75px;
	// 	height: 370px;
	// 	@include breakpoint(md) {
	// 		display: flex;
	// 		height: 430px;
	// 	}

	// 	.circle-light-grey {
	// 		position: absolute;
	// 		left: -6px;
	// 		bottom: -6px;
	// 	}

	// 	.process-block {
	// 		&__slide {
	// 			position: relative;

	// 			&-sub {
	// 				border-left: 3px solid $blue;
	// 				opacity: 0;
	// 				padding-bottom: 20px;
	// 				transition-duration: .8s;
	// 				width: 320px;
	// 				will-change: opacity;

	// 				@include breakpoint(lg) {
	// 					width: 400px;
	// 				}
	// 			}

	// 			&.active {
	// 				.process-block__slide-sub {
	// 					opacity: 1;
	// 				}
	// 			}

	// 			.process-block__hover-target {
	// 				position: absolute;
	// 				width: 67%;
	// 				height: 100%;
	// 				z-index: 1;
	// 			}

	// 			&--first {
	// 				flex-grow: 1;
	// 			}

	// 			&--middle {
	// 				flex-grow: 1;

	// 				.process-block__hover-target {
	// 					left: -33%;
	// 				}
	// 			}

	// 			&--last {
	// 				position: absolute;
	// 				right: 0;

	// 				.process-block {
	// 					&__slide-sub {
	// 						border-left: none;
	// 						border-right: 3px solid $blue;
	// 					}

	// 					&__icon-container {
	// 						justify-content: space-between;
	// 						left: 0;
	// 					}

	// 					&__hover-target {
	// 						right: 0;
	// 						width: 100%;
	// 					}
	// 				}

	// 				p {
	// 					margin-left: 0;
	// 					padding-right: 10px;
	// 				}

	// 				i[class*='process-'] {
	// 					position: relative;
	// 					left: 21px;
	// 				}
	// 			}
	// 		}

	// 		&__icon-container {
	// 			position: relative;
	// 			left: -21px;
	// 		}
	// 	}
	// }

}

.process-header-block {
	display: none;
	justify-content: space-between;

	@include breakpoint(md) {
		display:-webkit-flex;
	    display:-moz-flex;
	    display:-moz-box;
	    display:-ms-flexbox;
	    display:-webkit-box;
	    display:flex;
	    
	}

	&__header {
		position: relative;

		&.active {
			color: $blue;
			will-change: color;
			transition: color .8s;

			i {
				background-color: $blue;
				will-change: color;
				transition: background-color .8s;
			}
		}

		&--first {
			i {
				left: 69px;
			}
		}

		&--middle {
			i {
				left: 32.5px;

				@include breakpoint(xlg) {
					left: 43.5px;
				}
			}
		}

		&--last {
			i {
				left: 35.5px;

				@include breakpoint(xlg) {
					left: 72.5px;
				}
			}
		}
	}

	h5 {
		margin-top: 30px;
		font-size: 18px;
		font-weight: 600;
		@include breakpoint(xlg) {
			font-size: 24px;
		}
	}

	i {
		position: absolute;
		top: -8px;
	}
}

.process-block-container {
	overflow: hidden;
	display: none;

	@include breakpoint(md) {
		display: block;
	}
}



.services{
	.about-people-header {
		@include breakpoint(sm-only) {
			margin-bottom: 230px;
    		margin-top: 230px;
		}
	}
	.homepage-section-header{
		margin-bottom: 30px;
		text-align: left;
		font-size: 24px;

		@include breakpoint(sm) {
			text-align: center;
			margin-bottom: 50px;
			font-size: 32px;
		}
		@include breakpoint(lg){
			font-size: 48px;	
		}
	}
	.homepage-section-header-span{
		font-size: 21px;
		font-weight: bold;
		letter-spacing: 0.5px;
		text-align: center;
		color: #4f93e2;
		margin-bottom: 50px;

		@include breakpoint(sm) {
			font-size: 24px;
		}

		@include breakpoint(sm-only) {
			margin-bottom: 30px;
		}
	}
	p{
		font-size: 14px;
	}
	.expertise-info {
		margin-bottom: 90px;

		@include breakpoint(xlg) {
			margin-bottom: 120px;
		}

		&--head{
			display:-webkit-flex;
		    
		    display:-moz-flex;
		    display:-moz-box;
		    display:-ms-flexbox;
		    display:-webkit-box;
		    display:flex;

			-webkit-box-align: start;
		    -ms-flex-align: start;
		    align-items: flex-start;

			flex-direction: column;
			-webkit-flex-direction: column;

			margin-bottom: 30px;

			@include breakpoint(sm) {
				flex-direction: row;
				-webkit-box-align: center;
			    -ms-flex-align: center;
			    align-items: center;
			}

			h5{
				margin-bottom: 0px;
				font-size: 18px;

				@include breakpoint(sm) {
					font-size: 24px;
				}
			}
			img{
				margin: 0px auto 28px;
				max-width: 85px;

				@include breakpoint(sm) {
					margin-right: 45px;
					margin-left: 0px;
					margin-bottom: 0px;
				}
			}

		}

		p{
			margin-bottom: 30px;
		}

		&--card{
			max-width: 100%;
			margin: 0 auto;
			width: 100%;
			padding: 35px 30px 45px 10px;
			display:-webkit-flex;
		    
		    display:-moz-flex;
		    display:-moz-box;
		    display:-ms-flexbox;
		    display:-webkit-box;
		    display:flex;

			-webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;

			flex-direction: column;
			

			@include breakpoint(sm) {
				flex-direction: row;
				flex-wrap: wrap;
                                
			}

			@include breakpoint(sm-only) {
				margin-top: 30px;
			}


			@include breakpoint(md) {
				padding: 35px 30px 45px 0px;
				max-width: 337px;
                justify-content: flex-start;
			}

			@include breakpoint(lg) {
				padding: 35px 70px 45px 10px;
				max-width: 477px;
			}

			@include breakpoint(xlg) {
				padding: 35px 115px 45px 70px;
				max-width: 672px;
			}

			> div:first-child{

				@include breakpoint(sm-md) {
					margin-right: 38px;
				}

			}


		}

	}

	.card{

		&--services{

			.col-sm-6{
				margin-bottom: 35px;

				&:nth-child(3){
					margin-bottom: 0px;
				}
				
				&:nth-child(4){
					margin-bottom: 0px;
				}
			}

			&--expertise{
				display:-webkit-flex;
			    
			    display:-moz-flex;
			    display:-moz-box;
			    display:-ms-flexbox;
			    display:-webkit-box;
			    display:flex;
			    

			    -webkit-box-align: center;
			    -ms-flex-align: center;
			    align-items: center;

			    -webkit-box-pack: start;
			    -ms-flex-pack: start;
			    justify-content: flex-start;

				justify-content: flex-start;
				margin-bottom: 35px;

				&:last-child{
					margin-bottom: 0px;
				}

				h5{
					text-align: right;
					min-width: 78px;
					max-width: 118px;
					font-size: 16px;
					color: #4a4a4a;
					letter-spacing: 0.4px;
					margin-bottom: 0px;
					margin-right: 20px;

					@include breakpoint(lg) {
						margin-right: 50px;
						min-width: 118px;
					}
				}

				img{
					margin-right: 20px;

					@include breakpoint(lg) {
						margin-right: 30px;
					}

					@include breakpoint(xlg) {
						margin-right: 60px;
					}

					&:last-child{
						margin-right: 0px;
					}
				}
			}

		}

	}

	.servicestab{
		display: inline-block;
		width: 100%;

		@include breakpoint(sm-only){
			border-radius: 3px;
	    	box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	    	padding-top: 23px;
		}

		.tab{
			float: left;
			width: 30%;
			height: 300px;

			button{
				display: block;
				background-color: inherit;
				color: #4a4a4a;
				opacity: 0.6;
				letter-spacing: 0.4px;
				padding: 22px 16px;
				width: 100%;
				border: none;
				outline: none;
				text-align: left;
				cursor: pointer;
				transition: 0.3s;
				font-size: 21px;
				padding: 0;
				padding-bottom: 25px;
				font-family: Muli;

				&:last-child{
					padding-bottom: 0px;
				}

				&:hover{
					opacity: 0.8;
				}
				&.active{
					font-size: 24px;
					opacity: 1;
					letter-spacing: .46px;
				}
			}
		}

		.tabcontent{
			padding: 0px 12px;
			margin-bottom: 45px;

			@include breakpoint(md) {
				width: 70%;
				height: 300px;
				float: left;
				margin-bottom: 0px;
			}

			&--head{
				display:-webkit-flex;
			    
			    display:-moz-flex;
			    display:-moz-box;
			    display:-ms-flexbox;
			    display:-webkit-box;
			    display:flex;

				-webkit-box-align: start;
			    -ms-flex-align: start;
			    align-items: flex-start;

				flex-direction: column;
				margin-bottom: 11px;

				@include breakpoint(sm){
					flex-direction: row;

					-webkit-box-align: center;
				    -ms-flex-align: center;
				    align-items: center;
				}

				img{
					max-width: 81px;
					margin-right: 11px;
					

					@include breakpoint(sm){
						margin-bottom: 0px;
					}

					@include breakpoint(sm-only){
						margin: 0 auto 20px;
					}
				}
				h3{
					font-size: 16px;
					color: #9b9b9b;
					margin-top: 10px;

					@include breakpoint(md){
						margin-top: 0px;
					}

				}

				&--sm{

					h2{
						display: block;
						font-size: 21px;
						font-weight: bold;
						letter-spacing: 0.4px;
					}

					@include breakpoint(md) {
						display: none;
					}

				}

			}
			p{
				font-size: 14px;
				margin-bottom: 30px;
				line-height: 24px;
				letter-spacing: 0.4px;
			}
			a{
				color: #4f93e2;
				font-size: 14px;
				letter-spacing: 0.4px;
				img{
					margin-left: 20px;
				}
			}

		}
	}
}

.lastsec-header{
	color: #1664aa;
	font-size: 18px;
	text-align: center;
	display: block;
	margin-top: 30px;
	margin-bottom: 50px;

	@include breakpoint(sm){
		font-size: 32px;
		margin-top: 60px;
		margin-bottom: 70px;
	}

	@include breakpoint(md){
		margin-top: 105px;
		margin-bottom: 90px;
	}

	@include breakpoint(lg){
		font-size: 40px;
		margin-top: 100px;
		margin-bottom: 120px;
	}

	@include breakpoint(xlg){
		font-size: 48px;
		margin-top: 147px;
    	margin-bottom: 170px;
	}

}
