@import "../utils/base";

header {
	top: 0;
}
.works-content {
	h5 {
		margin-top: 13px;
		@include breakpoint(sm) {
			margin-top: 20px;
		}
		@include breakpoint(xlg) {
			margin-top: 30px;
		}
	}

	&__description {
		margin: 200px 0 0 0;
		.brief-intro {
			width: 293px;
			@include breakpoint(sm) {
				width: 542px;
				margin: auto 14px;
			}
			@include breakpoint(md) {
				width: 663px;
				margin: auto 11px;
			}
			@include breakpoint(lg) {
				width: 872px;
			}
			@include breakpoint(xlg) {
				width: 1047px;
			}
		}
		.demo {
			position: relative;
			height: 450px;
			margin-top: 30px;
			@include breakpoint(sm) {
				margin-top: 60px;
			}
			.demo__container {
				background-repeat: no-repeat;
				margin-left: -15px;
				margin-right: -15px;
				height: 258px;
				background-position: 50% 50%;
				background-size: cover;
				@include breakpoint(sm) {
					height: 334px;
				}
				@include breakpoint(md) {
					height: 458px;
				}
				@include breakpoint(lg) {
					height: 610px;
				}
				.demo__phone {
					text-align: center;
					width: 100%;
					position: relative;
					max-width: 1600px;
					img {
						width: 245px;
						margin-top: 31px;
					}
					@include breakpoint(sm) {
						img {
							width: 340px;
							float: right;
							margin-right: 6vw;
						}
					}
					@include breakpoint(md) {
						img {
							width: 404px;
						}
					}
					@include breakpoint(lg) {
						img {
							width: 502px;
							margin-top: 80px;
							margin-right: 7vw;
						}
					}
					@include breakpoint(xlg) {
						img {
							width: 545px;
							margin-right: 0;
						}
					}
				}
				.demo__icons {
					text-align: center;
					>span {
						img {
							height: 36px;
						}
					}
					>span:first-of-type {
						margin-right: 10px;
					}
					>span:last-of-type {
						margin-left: 10px;
					}
					@include breakpoint(sm) {
						float: right;
						margin-top: 365px;
					}
					@include breakpoint(md) {
						margin-top: 490px;
					}
					@include breakpoint(lg) {
						margin-top: 660px;
						>span {
							img {
								height: 55px;
							}
						}
					}
				}
			}

		}
		.info {
			font-family: $font__main;
			display: flex;
			flex-wrap: wrap;
			>div {
				margin-top: 50px;
				display: flex;
				width: 100%;
				flex-direction: column;
			}
			@include breakpoint(sm) {
				>div {
					width: 50%;
					margin-top: 100px;
				}
				>div:first-of-type {
					padding-right: 15px;
				}
				>div:last-of-type {
					padding-left: 15px;
				}
			}
			.info__title {
				font-size: 21px;
				font-weight: bold;
				line-height: 1.05;
				letter-spacing: 0.4px;
			}
			.info__text {
				margin-top: 10px;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.43;
				letter-spacing: 0.5px;
				flex: 1 0 auto;
				@include breakpoint(sm) {
					margin-top: 30px;
				}
			}
			.info__image {
				margin-top: 46px;
			}
			.info__image.singleWidth {
				width: 100%;
				@include breakpoint(sm) {
					margin-top: 128px;
					width: calc(200% + 30px);
				}
				@include breakpoint(md) {
					margin-top: 140px;
				}
			}
		}
		.testimonial {
			margin-top: 46px;
			@include breakpoint(sm) {
				margin-top: 104px;
			}
			@include breakpoint(md) {
				margin-top: 150px;
			}
			.testimonial__text-wrapper {
				@include breakpoint(md) {
					display: flex;
					width: 100%;
					justify-content: center;
				}
				.testimonial__img-wrapper {
					text-align: center;
					margin-bottom: 17px;
					.testimonial__img {
						width: 120px;
					}
					@include breakpoint(sm) {
						margin-bottom: 41px;
					}
					@include breakpoint(md) {
						margin-right: 63px;
						display: flex;
						align-items: center;
						margin-bottom: initial;
					}
					@include breakpoint(lg) {
						.testimonial__img {
							width: 150px;
						}
					}
				}
				.testimonial__text {
					font-family: BigCaslon;
					font-size: 14px;
					font-weight: 500;
					line-height: 1.25;
					letter-spacing: 0.5px;
					text-align: center;
					width: 343px;
					margin: 0 auto;
					@include breakpoint(sm) {
						font-size: 25px;
						width: 600px;
					}
					@include breakpoint(md) {
						text-align: left;
						font-size: 30px;
						width: 700px;
					}
					@include breakpoint(lg) {
						font-size: 40px;
						width: 900px;
					}
					@include breakpoint(xlg) {
						font-size: 48px;
						width: 1200px;
					}
				}
				.testimonial__text.center {
					text-align: center;
					@include breakpoint(sm) {
						width: 510px;
					}
					@include breakpoint(md) {
						width: 681px;
					}
					@include breakpoint(lg) {
						width: 856px;
					}
					@include breakpoint(xlg) {
						width: 1000px;
					}
				}
				.testimonial__profile {
					text-align: center;
					margin-top: 19px;
					span {
						font-size: 12px;
						display: block;
					}
					@include breakpoint(sm) {
						margin-top: 27px;
						span {
							font-size: 16px;
							display: inline;
						}
					}
					@include breakpoint(md) {
						margin-top: 15px;
						text-align: left;
					}
					@include breakpoint(xlg) {
						span {
							font-size: 24px;
						}
					}
				}
			}
			.testimonial__img-other {
				margin-top: 46px;
				img {
					width: 100%;
				}
				@include breakpoint(sm) {
					margin-top: 146px;
				}
				@include breakpoint(xlg) {
					margin-top: 192px;
				}
			}
		}
		.results {
			justify-content: space-between;
			@include breakpoint(lg) {
				align-items: center;
			}
			.info__image {
				display: none;
				@include breakpoint(sm) {
					display: block;
				}
				@include breakpoint(md) {
					width: 43%;
				}
			}

		}
		.related {
			margin-top: 61px;
			.related__title {
				margin-bottom: 50px;
				font-family: BigCaslon;
				font-size: 21px;
				font-weight: 500;
				line-height: 2.19;
				text-align: center;
				color: #4a4a4a;

				@include breakpoint(sm){
					margin-bottom: 38px;
				}

				@include breakpoint(md){
					margin-bottom: 59px;
				}

				@include breakpoint(lg){
					margin-bottom: 109px;
				}
			}
			.related__post {
				.related__post__img {
					margin-bottom: 15px;
				}
				.related__post__title a {
					font-family: Muli;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0.4px;
					text-align: left;
					color: #4a4a4a;
				}
				.related__post__excerpt {
					display: none;
				}
			}
			.related__post:first-of-type {
				margin-top: 20px;
			}
			@include breakpoint(sm) {
				margin-top: 100px;
				.related__title {
					font-size: 32px;
					line-height: 1.44;
				}
				.related__post {
					margin-top: 38px;
					.related__post__img {
						margin-bottom: 21px;
					}
					.related__post__title a {
						font-size: 18px;
						line-height: 1.39;
						letter-spacing: normal;
					}
				}
				.related__post:first-of-type {
					margin-top: auto;
				}
			}
			@include breakpoint(md) {
				margin-top: 160px;
				.related__title {
					font-size: 40px;
					line-height: 1.15;
				}
				.related__post {
					margin-top: 59px;
					.related__post__img {
						margin-bottom: 21px;
					}
					.related__post__title a {
						font-size: 21px;
						line-height: 1.19;
					}
					.related__post__excerpt {
						display: block;
						font-family: Muli;
						font-size: 14px;
						line-height: 1.79;
						letter-spacing: 0.5px;
						text-align: left;
						color: #9b9b9b;
						margin-top: 6px;
					}
				}
			}
			@include breakpoint(lg) {
				margin-top: 260px;
				.related__post {
					margin-top: 65px;
				}
			}
			@include breakpoint(lg) {
				margin-top: 160px;
				.related__post {
					margin-top: 109px;
					.related__post__img {
						margin-bottom: 37px;
					}
					.related__post__title a {
						font-size: 24px;
					}
					.related__post__excerpt {
						font-size: 18px;
						line-height: 1.39;
					}
				}
			}
		}
	}
	
	p{
		color: $light-grey ;
	}
}
.works-title {
	margin-top: 50px;
	@include breakpoint(sm) {
		margin-top: 70px;
	}
	@include breakpoint(lg) {
		margin-top: 80px;
	}
	@include breakpoint(xlg) {
		margin-top: 130px;
	}
}
