@import "../utils/base";

.works-landing {
	&__description {
		background-color: white;
		padding-top: 15px;
		transition: transform .3s ease-in-out;

		a {
			color: $grey;
		}

		p {
			color: $light-grey;
			margin-top: 6px;
			margin-bottom: 0;
			display: none;

			@include breakpoint(md) {
				display: block;
			}
		}
	}

	.line-horizontal {
		background-color: black;
		bottom: 4px;
		position: relative;
		transition: all .3s ease-in-out;
		width: 0;
	}

	.view-project {
		font-size: 14px;
		margin-bottom: 65px;
		text-transform: uppercase;
		@include opacity-change();
		transition: all .3s ease-in-out;

		@include breakpoint(sm) {
			margin-bottom: 90px;
		}

		@include breakpoint(lg) {
			margin-bottom: 100px;
		}

		@include breakpoint(xlg) {
			margin-bottom: 110px;
		}
	}

	&:hover{
		.line-horizontal {
			width: 30px;
		}

		.view-project {
			opacity: 1;
		}

		.works-landing__description{
			transform: translateY(-15px);
			-webkit-transform: translateY(-15px);
		}
	}
}

.category-list {
	margin-bottom: 40px;

	@include breakpoint(lg) {
		margin-bottom: 50px;
	}

	a {
		margin-right: 10px;
		
		@include breakpoint(xsm-only){
			margin-right: 7px;
			font-size: 12px;
		}

		@include breakpoint(sm){
			margin-right: 25px;
		}

		&.active {
			color: $grey;
		}
	}
}

.work-header {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-top: 80px;
	@include breakpoint(sm) {
		margin-top: 80px;
	}

	@include breakpoint(xlg) {
		margin-top: 130px;
	}
}