@import "../utils/base";

footer {
	color: $grey;
}

.contact-footer-block {
	background: white;
	-webkit-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	-moz-box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
	margin-bottom: 90px;
	padding-bottom: 50px;

	@include breakpoint(sm) {
		-webkit-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		-moz-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(193, 193, 193, 0.5);
		background: white;
		padding: 50px 50px 70px 50px;
		margin: initial auto 90px auto;
	}

	@include breakpoint(xlg) {
		padding: 65px 65px 100px 65px;
	}
	textarea {
		resize:vertical;
		min-height: 242px;
	}
	textarea::-webkit-input-placeholder {
		color: $light-grey;
	}

	&--margin-top{
		margin-top: 90px;
	}

	&__call {
		display: block;
		margin: 0 auto 25px auto;
		font-weight: 600;
		padding: 12px 0px;
		-webkit-box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
		-moz-box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
		box-shadow: 0 1px 10px 0 rgba(201, 201, 201, 0.5);
		text-transform: uppercase;
		width: 270px;

		@include a-no-style
	}

	&__info {
		margin-top: 100px;

		@include breakpoint(md) {
			height: 452px;
			margin-top: 0px;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
		}
		@include breakpoint(xlg) {
			height: 472px;
		}
	}

	h1 {
		padding: 30px 20px 20px 20px;
		@include breakpoint(sm) {
			padding: 30px 0px 50px 0px;
		}
	}

	.hidden-xs {
		h1 {
			padding: 30px 0 7px 0;
		}
	}

	p {
		margin-bottom: 15px;

		&.last{
			margin-bottom: 10px;
		}
	}
}

#contact {
	.homepage-section-header{
		margin-bottom: 0;
	}
}