@import "../utils/base";

textarea {
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

button {
	background: none;
	border: none;
	outline: none;
}

.btn {
	border-radius: 0;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: background-color 0.8s, color 0.8s;
	-moz-transition: background-color 0.8s, color 0.8s;
	transition: background-color 0.8s, color 0.8s;

	&--grey {
		border: 1px solid $grey;
		color: $grey;

		&:hover {
			background-color: $grey;
			color: white;
		}
	}

	&--white {
		border: 1px solid white;
		color: white;

		&:hover {
			background-color: white;
			color: $grey;
		}
	}

	&--large {
		height: 50px;
		padding: 14px 0;
		max-width: 300px;
		width: 100%;
	}

	//used in nav
	&--small {
		font-size: 14px;
		padding: 9px 30px;
		text-transform: none;
		width: 140px;
		height: 35px;
	}
}

input {
	font-weight: 500;
	background-color: transparent;
	border-radius: 0;

	&:focus {
		outline: none;
	}

	&[type="text"],
	&[type="tel"],
	&[type="email"] {
		border: 0px solid;
		font-size: 16px;
		border-bottom: 1px solid #4a4a4a;
		padding-bottom: 10px;
		margin-top: 30px;
		width: 100%;

		&:focus {
			border-bottom: 1px solid $blue;
		}
	}

	&[type="submit"] {
		display: block;
		text-align: center;
		text-transform: uppercase;
		padding: 9px 30px;
		border: 1px solid $grey;
		color: $grey;
		outline: none !important;
		float: right;
		margin-top: 25px;
		width: 190px;
		-webkit-transition: background-color 0.8s, color 0.8s;
		-moz-transition: background-color 0.8s, color 0.8s;
		transition: background-color 0.8s, color 0.8s;
		// position: relative;
		// right: 50%;
		// transform: translateX(50%);

		&:hover {
			background-color: $grey;
			color: white;
		}

		@include breakpoint(sm){
			margin-top: 20px;
		}

		@include breakpoint(lg){
			margin-top: 30px;
		}
	}

	&[type="file"] {
		color: $light-grey;
	}
}

input::placeholder {
	color: #4a4a4a;
	font-weight: 500;
        letter-spacing: 0.4px;
}

textarea {
	border-color: $grey;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	resize: vertical;

	&:focus {
		outline: none;
	}
}

form {
	br {
		// display: none;
	}
}

.file-label {
	font-size: 11px;
	margin-top: 20px;
	margin-bottom: 0;
}

.select-wrapper {
	border-bottom: 1px solid $grey;
	padding-top: 26px;

	p{
		margin: 0;
	}

	label{
		color: $light-grey;
		font-size: 16px;
		font-weight: normal;
		padding-bottom: 10px;
		margin-bottom: 3px;
	}

	select{
		font-size: 16px;
		/*float: right;*/
		border: none;
		/*background: transparent;*/
		width: 227px;
        background-image: linear-gradient(to bottom, #fcfcfc, #e2e2e2);
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        margin-bottom: 2px;

		&:focus{
			outline: none;
		}
	}
}

.wpcf7-form{
	p {
		margin: 0;
	}
}

div.wpcf7-response-output {
	margin: 4em 0.5em 1em;
}

span.wpcf7-list-item{
	/*width: 100%;*/
        font-size: 16px;
        margin-left: 0px;

        @include breakpoint(md){
			margin-left: 45px;
		}
        
        &.first{
            margin-left: 0px;
        }
        
        input[type="radio"]{
            margin-right: 5px;
        }
}

.radio-wrapper{
	padding-top: 26px;
}
.contact-footer-block {
    form{
        br{
            // display: block;
        }
    }
} 

.contact-footer-block .wpcf7-form p{margin-bottom: 0px !important;}
.wpcf7-form-control-wrap.file-attach{cursor: pointer;}
.wpcf7-form-control-wrap.file-attach .file-attach-contact{opacity: 0;position: relative;}
.wpcf7-form-control-wrap.file-attach:before{content: "Choose File";width: 120px;height: 30px;background-color: #ececec;text-align: center;position: absolute;line-height: 30px;cursor: pointer;}
.wpcf7-form-control-wrap.file-attach + span{font-size: 11px;color: #b1b1b1;font-family: Muli;position: absolute; left: 145px; top: 43px;}
