@import "../utils/base";

.container {
	@include breakpoint(xlg) {
		width: 1600px;
	}
}

.hidden-xxs {
	@include breakpoint(xsm-only) {
		display: none;
	}
}

.visible-xxs-block {
	display: block;
	@include breakpoint(xsm) {
		display: none;
	}
}

.hidden-lg-and-up{
	@include breakpoint(lg){
		display: none;
	}
}

.container {
	@include breakpoint(sm) {
		width: initial;
		padding-left: 65px;
		padding-right: 65px;
	}

	@include breakpoint(lg) {
		padding-left: 75px;
		padding-right: 75px;
	}

	@include breakpoint(xlg) {
		width: 1600px;
		padding-left: 65px;
		padding-right: 65px;
	}

	&--margin {
		@include breakpoint(sm) {
			margin-left: 65px;
			margin-right: 65px;
		}

		@include breakpoint(lg) {
			margin-left: 75px;
			margin-right: 75px;
		}

		@include breakpoint(xlg) {
			width: 1600px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--challenges {
		@include breakpoint(md) {

			.row {
				margin-left: -65px;
				margin-right: -65px;
				@include breakpoint(lg) {
					margin-left: -75px;
					margin-right: -75px;
				}
				@include breakpoint(xlg) {
					margin-left: 0;
					margin-right: 0;
				}
			}

			[class*='col-'] {
				padding-right: 0;
				padding-left: 0;
			}

		}
	}

	&--infographic{
		margin-top: 80px;
		@include breakpoint(sm){
			padding: 0 45px;
		}

		@include breakpoint(md){
			padding: 0 40px;
		}

		@include breakpoint(lg){
			padding: 30px;
		}

		@include breakpoint(xlg){
			padding: 0 10px;
		}
	}
}

.col-xlg-5 {
	@include breakpoint(xlg) {
		width: 41.66666667%;
	}
}

.col-xlg-10 {
	@include breakpoint(xlg) {
		width: 83.33333333%;
	}
}

.col-xlg-offset-1 {
	@include breakpoint(xlg) {
		margin-left: 8.33333333%;
	}
}

.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}