@import "../utils/base";

.logo {
	display: inline-block;
	width: 175px;
	//height: 20px;
}

.arrow-down {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('../assets/icons/arrow.svg') center no-repeat;
	background-size: contain;
}

.arrow-right {
	width: 20px;
	height: 20px;
	border: solid $light-grey;
	border-width: 0 2px 2px 0;
	display: inline-block;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.arrow-left {
	width: 20px;
	height: 20px;
	border: solid $light-grey;
	border-width: 0 2px 2px 0;
	display: inline-block;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.line-horizontal {
	display: inline-block;
	width: 45px;
	height: 1px;
	background-color: white;
}

.circle-grey {
	display: inline-block;
	width: 7px;
	height: 7px;
	margin: 1px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	background-color: $grey;
	&.active {
		background-color: white;
	}
}

.circle-light-grey {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 1px;
	border-radius: 12px;
	background-color:  #e4e4e4;
}

.circle-blue {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background-color: $blue;
}

.carousel-indicators {
	opacity: 0.3;
	li {
		background-color: $grey;
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		margin-right: 6px;
		width: 7px;
		height: 7px;
	}

	.active {
		background-color: white;
		height: 7px;
		width: 7px;
		margin-right: 6px;
	}

	&--inverted {
		li {
			background-color: #8e8e8e;
		}

		.active {
			background-color: #2C2C2C;
		}
	}

	&--dark {
		opacity: 1;

		li {
			background-color: $grey;
		}

		.active {
			background-color: white;
		}
	}
}

.phone-icon {
	display: inline-block;
	width: 86px;
	height: 56px;
	// background: url('../assets/icons/mobile-web-app.svg') center no-repeat;
	background-size: contain !important;

	@include breakpoint(xlg) {
		width: 124px;
		height: 80px;
	}
}

// .phones-icon {
// 	display: inline-block;
// 	width: 60px;
// 	height: 60px;
// 	background: url('../assets/icons/phones.svg') center no-repeat;
// 	background-size: contain;

// 	&--responsive {
// 		@include breakpoint(sm) {
// 			width: 104px;
// 			height: 96px;
// 		}
// 		@include breakpoint(md) {
// 			width: 116px;
// 			height: 107px;
// 		}

// 		@include breakpoint(lg) {
// 			width: 135px;
// 			height: 125px;
// 		}
// 		@include breakpoint(xlg) {
// 			width: 150px;
// 			height: 139px;
// 		}
// 	}
// }

// .computers-icon {
// 	display: inline-block;
// 	width: 58px;
// 	height: 81px;
// 	background: url('../assets/icons/ecomm.svg') center no-repeat;
// 	background-size: contain;

// 	@include breakpoint(xlg) {
// 		height: 118px;
// 		width: 84px;
// 	}
// }

// .cloud-icon {
//   display: inline-block;
//   width: 69px;
//   height: 100px;
//   background: url(../assets/icons/cloud.svg) center no-repeat;
//   background-size: contain; 
//   	@include breakpoint(xlg) {
// 		width: 140px;
// 		height: 95px;
// 	}
// }
// .ar-icon {
//   display: inline-block;
//   width: 68px;
//   height: 54px;
//   background: url(../assets/icons/ar.svg) center no-repeat;
//   background-size: contain;
//   	@include breakpoint(xlg) {
// 		width: 79px;
// 		height: 99px;
// 	} 
// }

// .iot-icon {
//   display: inline-block;
//   width: 59px;
//   height: 60px;
//   background: url(../assets/icons/blockchain.svg) center no-repeat;
//   background-size: contain; 
//   	@include breakpoint(xlg) {
// 		width: 98px;
// 		height: 96px;
// 	} 
// }

// .dtech-icon {
//   display: inline-block;
//   width: 56px;
//   height: 57px;
//   background: url(../assets/icons/ml.svg) center no-repeat;
//   background-size: contain; 
//   	@include breakpoint(xlg) {
// 		width: 95px;
// 		height: 89px;
// 	} 
// }

// .gig-icon {
//   display: inline-block;
//   width: 44px;
//   height: 76px;
//   background: url(../assets/icons/gig.svg) center no-repeat;
//   background-size: contain; 
//   	@include breakpoint(xlg) {
// 		width: 120px;
// 		height: 70px;
// 	} 
// }


.process-house {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../assets/icons/process-house.svg') no-repeat;
	background-size: contain;
}

.process-person {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../assets/icons/process-person.svg') no-repeat;
	background-size: contain;
}

.process-bars {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../assets/icons/process-bars.svg') no-repeat;
	background-size: contain;
}

.process-clipboard {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../assets/icons/process-clipboard.svg') no-repeat;
	background-size: contain;
}

.process-desktop {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../assets/icons/process-desktop.svg') no-repeat;
	background-size: contain;
}

.process-rocket {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../assets/icons/process-rocket.svg') no-repeat;
	background-size: contain;
}

.process-phone{
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../assets/icons/process-phone.svg') no-repeat;
	background-size: contain;
}

// start nav bar
/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	width: 25px;
	height: 20px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: $grey;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;

	.header--black &,
	.header--clear &{
		background-color: white;
	}
}

#nav-icon1 span:nth-child(1) {
	top: 0px;
}

#nav-icon1 span:nth-child(2) {
	top: 18px;
}

#nav-icon1 span:nth-child(3) {
	top: 36px;
}

#nav-icon1.open span:nth-child(1) {
	top: 18px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
	display: block;
	position: absolute;
	height: 9px;
	width: 50%;
	background: #d3531a;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
	left: 0px;
	border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
	top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
	top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
	top: 36px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
	left: 5px;
	top: 7px;
}

#nav-icon2.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 7px;
}

#nav-icon2.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
	left: 5px;
	top: 29px;
}

#nav-icon2.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 29px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
	top: 18px;
}

#nav-icon3 span:nth-child(4) {
	top: 36px;
}

#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
	top: 8px;
	width: 70%;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
	top: 16px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4.open span {
	background: white;
}
#nav-icon4.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -3px;
	left: 8px;
}

#nav-icon4.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 15px;
	left: 8px;
}

//end of nav icons