@import "../utils/base";

.background-black {
	background-color: black;
	color: white;
}

.background-white {
	background-color: white;
	color: $grey;
}

.blue {
	color: $blue;
}

.light-blue {
	color: $light-blue;
}

.text-center {
	text-align: center;
}

.white {
	color: white;
}

.flex {
	display: flex;
}

.flex-order-2 {
	order: 2;
}

.flex-order-1 {
	order: 1;
}

.hidden-xlg {
	@include breakpoint(xlg) {
		display: none;
	}
}

.visible-md-block-and-up {
	display: none;

	@include breakpoint(md) {
		display: block;
	}
}

