@import "../utils/base";

header {
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 100;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;

	&.header--black{
		background-color: black;
		color: white;
	}

	&.header--clear{
		color: white;
	}

	&.header--white {
		background-color: white;
		-webkit-box-shadow: 0 2px 8px 0 rgba(217, 217, 217, 0.5);
		-moz-box-shadow: 0 2px 8px 0 rgba(217, 217, 217, 0.5);
		box-shadow: 0 2px 8px 0 rgba(217, 217, 217, 0.5);
	}

	.container {
		height: 100%;
		display: flex;
		align-items: center;
		.page-title {
			font-family: Muli;
			font-size: 16px;
			letter-spacing: 0.5px;
			@include breakpoint(sm) {
				font-size: 18px;
				letter-spacing: 0.6px;
			}
		}
	}

	a {
		@include a-no-style();
	}

	&.closed{
		transform: translate(0,-80px);
	}
}

nav {
	margin-left: auto;

	button {
		position: relative;
		top: 4px;
	}
}

.nav--contact {
	display: none;
	font-family: $font__nav;
	margin-right: 30px;
	@include breakpoint(sm) {
		display: inline;
	}
}

.custom-logo {
	width: 175px;
	height: auto;
}

.custom-logo-link {
	z-index: 102;
}

//hamburger
.hamburger {
	color: white;
	background: none;
	border: none;
	display: inline-block;
	font-size: 20px;
	height: 20px;
	padding: 5px 0 0 0;
	position: relative;
	top: 4px;
	z-index: 102;

	&:focus {
		outline: 0;
	}
}

.hamburger-content {
	background: rgba(0, 0, 0, 0.7);
	color: white;
	font: 20px $font__secondary;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: 101;
	transition: opacity .5s ease-in-out, visibility .5s linear;
	-moz-transition: opacity .5s ease-in-out, visibility .5s linear;
	-webkit-transition: opacity .5s ease-in-out, visibility .5s linear;

	&.open {
		opacity: 1;
		visibility: visible;
	}

	@include breakpoint(sm) {
		background: rgba(20,100,170, 0.95);
		font-size: 60px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		@include a-no-style()

	}
}

.hamburger-content__container {
	float: right;
	padding-top: 60px;
	height: 100vh;
	width: 221px;
	padding-left: 25px;
	background: rgba(0, 0, 0, 1);

	@include breakpoint(sm){
		background: transparent;
		padding: 0;
		height: unset;
	}

	.address {
		color: white;
		font-family: $font__main;
		position: absolute;
		bottom: 25px;
		@include breakpoint(sm) {
			display: none;
		}
	}

	.menu-top-menu-container {
		line-height: 35px;
		@include breakpoint(sm) {
			line-height: 1.25;
		}
		letter-spacing: 2.7px;
	}
}