@import "../utils/base";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

@font-face {
	font-family: 'Big Caslon';
	src: url('../fonts/Big Caslon Medium.ttf');
	src: url('../fonts/Big Caslon Medium.ttf');
}

body {
	color: $grey;
	font-family: $font__main;
}

h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 600;
	margin: 0;
	letter-spacing: 0.7px;
}

h1 {
	clear: both;
	margin: 0;
	letter-spacing: 0.7px;
}

h1 {
	font-family: $font__secondary;
	font-size: 22px;
	line-height: 30px;
	@include breakpoint(sm) {
		line-height: 40px;
		font-size: 32px;
	}
	@include breakpoint(lg) {
		line-height: 50px;
		font-size: 40px;
	}

	@include breakpoint(xlg) {
		line-height: 60px;
		font-size: 48px;
	}
}

h3 {
	font-size: 24px;
	@include breakpoint(xlg) {
		font-size: 28px;
	}
}

h5 {
	font-size: 16px;

	@include breakpoint(md) {
		font-size: 21px;
	}

	@include breakpoint(xlg) {
		font-size: 24px;
	}
}

p {
	font-size: 14px;
	@include breakpoint(xlg) {
		font-size: 16px;
	}
}

.color-blue {
	color: $blue;
}
