@import "variables";

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin a-no-style {
	&:link {
		text-decoration: inherit;
		color: inherit;
		cursor: pointer;
	}

	&:visited {
		text-decoration: inherit;
		color: inherit;
		cursor: pointer;
	}
}

@mixin opacity-change {
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
	will-change: opacity;
}

@mixin box-shadow-hover {
	box-shadow: 0 20px 20px 0 rgba(0,0,0,.2);
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
}


/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
	@if $point == xsm {
		@media (min-width: $xsm) { @content ; }
	}
	@else if $point == sm {
		@media (min-width: $sm) { @content ; }
	}
	@else if $point == md {
		@media (min-width: $md) { @content ; }
	}
	@else if $point == lg {
		@media (min-width: $lg)  { @content ; }
	}
	@else if $point == xlg {
		@media (min-width: $xlg)  { @content ; }
	}
	@else if $point == xsm-only {
		@media (max-width: $xsm - 1)  { @content ; }
	}
	@else if $point == sm-only {
		@media (max-width: $sm - 1)  { @content ; }
	}
	@else if $point == md-only {
		@media (max-width: $md - 1)  { @content ; }
	}
	@else if $point == lg-only {
		@media (max-width: $lg - 1)  { @content ; }
	}
	@else if $point == xlg-only {
		@media (max-width: $xlg - 1)  { @content ; }
	}
	@else if $point == xlg-only {
		@media (max-width: $xlg - 1)  { @content ; }
	}
	@else if $point == sm-md {
		@media (min-width: $sm) and (max-width: $md - 1)  { @content ; }
	}
}
