//breakpoints
$xsm: 376px;
$sm: 768px;
$md: 1024px;
$lg: 1366px;
$xlg: 1920px;

//colors
$blue-opaque: rgba(19, 99, 170, 0.7);
$blue-opaque-dark: rgba(19, 99, 170, 0.95);
$blue: #1464aa;
$swensonhe-blue: #1363aa;
$light-blue: #5396d2;
$grey: #4b4a4b;
$light-grey: #9b9b9b;

//fonts
$font__main: 'Muli', sans-serif;
$font__secondary: 'Big Caslon', sans-serif;
$font__nav: 'Montserrat', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;